
# Week3-notebook1


### List vs Set

In [1]:
my_list = [1,2,3]

In [2]:
my_list.append(4)

In [3]:
my_list

[1, 2, 3, 4]

In [4]:
my_list.append(4)
my_list

[1, 2, 3, 4, 4]

In [5]:
my_set ={1,2,3}

In [6]:
my_set.add(4)

In [7]:
my_set

{1, 2, 3, 4}

In [8]:
my_set.add(4)
my_set

{1, 2, 3, 4}

In [9]:
new_list=[2,2,4,5,3,3,3]

In [10]:
new_set=set(new_list)
new_set

{2, 3, 4, 5}

In [11]:
new_list[2]

4

In [15]:
# new_set[2]
#TypeError: 'set' object is not subscriptable

### List vs Tuple

In [16]:
my_list = [1,2,3]

In [17]:
my_list.append('4')
my_list

[1, 2, 3, '4']

In [18]:
my_tuple = (1,2,3)

In [21]:
# my_tuple.append('4')
# 'tuple' object has no attribute 'append'

In [22]:
my_tuple.count?

Signature: my_tuple.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [23]:
help(my_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [25]:
# my_list.insert()
#TypeError: insert expected 2 arguments, got 0

In [26]:
my_tuple = (1,2,3,2,3,1,1,1)

In [27]:
my_tuple.count(1)

4

In [28]:
my_list1 = [1,2,3,2,3,1,1,1]

In [29]:
my_list1.count(1)

4

In [30]:
my_tuple[2]

3

### Dictionaries

In [31]:
d = {'key1':'item1','key2':'item2'}

In [32]:
d

{'key1': 'item1', 'key2': 'item2'}

In [33]:
d['key1']

'item1'

### Boolean

In [34]:
# Value true

True

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [35]:
# Value false

False

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [36]:
# Type of True

type(True)

bool

In [37]:
# Type of False
type(False)

bool

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [38]:
# Convert True to int

int(True)

1

In [39]:
# Convert 1 to boolean

bool(1)

True

In [40]:
# Convert 0 to boolean

bool(0)

False

In [41]:
# Convert True to float

float(True)

1.0

## Exploratory Data Analysis

In [42]:
import os
os.getcwd()

'C:\\Users\\Sarah\\Desktop'

In [43]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd

In [44]:
df=pd.read_csv('dataset_falcon9.csv')

In [45]:
df

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,0,B1062,-80.577366,28.561857,1

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), float64(4), int64(4), object(7)
memory usage: 10.9+ KB

In [47]:
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

In [48]:
df.head(2)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0

In [49]:
df.tail(2)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
88,89,2020-10-24,Falcon 9,15400.0,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.0,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,0,B1062,-80.577366,28.561857,1

In [50]:
df[5:8]

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
5,6,2014-01-06,Falcon 9,3325.0,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857,0
6,7,2014-04-18,Falcon 9,2296.0,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857,1
7,8,2014-07-14,Falcon 9,1316.0,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857,1

In [51]:
df[87:89]

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
87,88,2020-10-18,Falcon 9,15400.0,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.0,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1

In [52]:
df['FlightNumber']

0      1
1      2
2      3
3      4
4      5
      ..
85    86
86    87
87    88
88    89
89    90
Name: FlightNumber, Length: 90, dtype: int64

In [53]:
df['FlightNumber'].head()

0    1
1    2
2    3
3    4
4    5
Name: FlightNumber, dtype: int64

In [54]:
df[['FlightNumber','LaunchSite']].head(10)

   FlightNumber    LaunchSite
0             1  CCAFS SLC 40
1             2  CCAFS SLC 40
2             3  CCAFS SLC 40
3             4   VAFB SLC 4E
4             5  CCAFS SLC 40
5             6  CCAFS SLC 40
6             7  CCAFS SLC 40
7             8  CCAFS SLC 40
8             9  CCAFS SLC 40
9            10  CCAFS SLC 40

In [55]:
df.drop(2,axis=0)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,0,B1062,-80.577366,28.561857,1

In [56]:
df.drop('Outcome', axis=1)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,0,B1062,-80.577366,28.561857,1

In [57]:
df['new']=df['FlightNumber']

In [58]:
df.columns

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude', 'Latitude',
       'Class', 'new'],
      dtype='object')

In [59]:
df.shape

(90, 19)

In [60]:
df.drop('new', axis=1,inplace=True)

In [61]:
df.columns

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude', 'Latitude',
       'Class'],
      dtype='object')

In [62]:
df.shape

(90, 18)

In [75]:
new_data = {'FlightNumber':1, 'Date':2, 'BoosterVersion':3, 'PayloadMass':4, 'Orbit':5,
       'LaunchSite':6, 'Outcome':7, 'Flights':8, 'GridFins':9, 'Reused':10, 'Legs':11,
       'LandingPad':12, 'Block':13, 'ReusedCount':14, 'Serial':15, 'Longitude':16, 'Latitude':17,
       'Class':18, 'new':19}
new_row=pd.DataFrame([new_data])
#append row to the dataframe
df_marks = pd.concat([df, new_row], ignore_index=True)

In [76]:
df_marks.tail(1)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class,new
90,1,2,3,4.0,5,6,7,8,9,10,11,12,13.0,14,15,16.0,17.0,18,19.0

In [83]:
df_marks.head(3)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class,new
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,0,0,0,NaN,1.0,0,B0003,-80.577366,28.561857,0,NaN
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,0,0,0,NaN,1.0,0,B0005,-80.577366,28.561857,0,NaN
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,0,0,0,NaN,1.0,0,B0007,-80.577366,28.561857,0,NaN

In [89]:
# Creating the first Dataframe using dictionary
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4],
                         "b":[5, 6, 7, 8]})

In [90]:
# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7]})

In [91]:
df1

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [92]:
df2

   a  b
0  1  5
1  2  6
2  3  7

In [95]:
df3=pd.concat([df2,df1],ignore_index=True)

In [97]:
df_marks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    91 non-null     int64
 1   Date            91 non-null     object
 2   BoosterVersion  91 non-null     object
 3   PayloadMass     91 non-null     float64
 4   Orbit           91 non-null     object
 5   LaunchSite      91 non-null     object
 6   Outcome         91 non-null     object
 7   Flights         91 non-null     int64
 8   GridFins        91 non-null     int64
 9   Reused          91 non-null     int64
 10  Legs            91 non-null     int64
 11  LandingPad      65 non-null     object
 12  Block           91 non-null     float64
 13  ReusedCount     91 non-null     int64
 14  Serial          91 non-null     object
 15  Longitude       91 non-null     float64
 16  Latitude        91 non-null     float64
 17  Class           91 non-null     int64
 18  new             1 non-null      float64
dtypes: float64(5), int64(7), object(7)
memory usage: 13.6+ KB

In [98]:
df_marks[['PayloadMass', 'Date', 'BoosterVersion', 'FlightNumber']]

     PayloadMass        Date BoosterVersion  FlightNumber
0    6104.959412  2010-06-04       Falcon 9             1
1     525.000000  2012-05-22       Falcon 9             2
2     677.000000  2013-03-01       Falcon 9             3
3     500.000000  2013-09-29       Falcon 9             4
4    3170.000000  2013-12-03       Falcon 9             5
..           ...         ...            ...           ...
86  15400.000000  2020-10-06       Falcon 9            87
87  15400.000000  2020-10-18       Falcon 9            88
88  15400.000000  2020-10-24       Falcon 9            89
89   3681.000000  2020-11-05       Falcon 9            90
90      4.000000           2              3             1

[91 rows x 4 columns]

In [99]:
df_marks.columns

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude', 'Latitude',
       'Class', 'new'],
      dtype='object')

In [100]:
df_marks.columns[[2,6,0]]

Index(['BoosterVersion', 'Outcome', 'FlightNumber'], dtype='object')

In [101]:
df_marks[df_marks.columns[[2,6,0]]]

   BoosterVersion      Outcome  FlightNumber
0        Falcon 9    None None             1
1        Falcon 9    None None             2
2        Falcon 9    None None             3
3        Falcon 9  False Ocean             4
4        Falcon 9    None None             5
..            ...          ...           ...
86       Falcon 9    True ASDS            87
87       Falcon 9    True ASDS            88
88       Falcon 9    True ASDS            89
89       Falcon 9    True ASDS            90
90              3            7             1

[91 rows x 3 columns]

In [104]:
df_marks.iloc[:, 1:3]

          Date BoosterVersion
0   2010-06-04       Falcon 9
1   2012-05-22       Falcon 9
2   2013-03-01       Falcon 9
3   2013-09-29       Falcon 9
4   2013-12-03       Falcon 9
..         ...            ...
86  2020-10-06       Falcon 9
87  2020-10-18       Falcon 9
88  2020-10-24       Falcon 9
89  2020-11-05       Falcon 9
90           2              3

[91 rows x 2 columns]

In [105]:
df_marks.iloc[0:3, 1:5]

         Date BoosterVersion  PayloadMass Orbit
0  2010-06-04       Falcon 9  6104.959412   LEO
1  2012-05-22       Falcon 9   525.000000   LEO
2  2013-03-01       Falcon 9   677.000000   ISS

In [106]:
df_marks.loc[:, 'Outcome':'Legs']

        Outcome  Flights  GridFins  Reused  Legs
0     None None        1         0       0     0
1     None None        1         0       0     0
2     None None        1         0       0     0
3   False Ocean        1         0       0     0
4     None None        1         0       0     0
..          ...      ...       ...     ...   ...
86    True ASDS        3         1       1     1
87    True ASDS        6         1       1     1
88    True ASDS        3         1       1     1
89    True ASDS        1         1       0     1
90            7        8         9      10    11

[91 rows x 5 columns]

In [107]:
# Drop Multiple Columns by labels.
df1 = df_marks.drop(['Longitude', 'BoosterVersion','Block'],axis = 1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FlightNumber  91 non-null     int64
 1   Date          91 non-null     object
 2   PayloadMass   91 non-null     float64
 3   Orbit         91 non-null     object
 4   LaunchSite    91 non-null     object
 5   Outcome       91 non-null     object
 6   Flights       91 non-null     int64
 7   GridFins      91 non-null     int64
 8   Reused        91 non-null     int64
 9   Legs          91 non-null     int64
 10  LandingPad    65 non-null     object
 11  ReusedCount   91 non-null     int64
 12  Serial        91 non-null     object
 13  Latitude      91 non-null     float64
 14  Class         91 non-null     int64
 15  new           1 non-null      float64
dtypes: float64(3), int64(7), object(6)
memory usage: 11.5+ KB

In [115]:
# Drop columns based on column index.
df2 = df_marks.drop(df.columns[[3, 1, 2, 0]],axis = 1)
df2.info()

KeyError: "['b'] not found in axis"

In [116]:
# Drop column by index using DataFrame.iloc[] and drop() methods.
df3 = df_marks.drop(df_marks.iloc[:, 1:3],axis = 1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FlightNumber  91 non-null     int64
 1   PayloadMass   91 non-null     float64
 2   Orbit         91 non-null     object
 3   LaunchSite    91 non-null     object
 4   Outcome       91 non-null     object
 5   Flights       91 non-null     int64
 6   GridFins      91 non-null     int64
 7   Reused        91 non-null     int64
 8   Legs          91 non-null     int64
 9   LandingPad    65 non-null     object
 10  Block         91 non-null     float64
 11  ReusedCount   91 non-null     int64
 12  Serial        91 non-null     object
 13  Longitude     91 non-null     float64
 14  Latitude      91 non-null     float64
 15  Class         91 non-null     int64
 16  new           1 non-null      float64
dtypes: float64(5), int64(7), object(5)
memory usage: 12.2+ KB

In [ ]:
# Drop columns by labels using DataFrame.loc[] and drop() methods.
df4 = df_marks.drop(df_marks.loc[:, 'Outcome':'Latitude'].columns,axis = 1)
df4.info()

# Great Job!